/* .Entry-black{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    z-index: 999;
}
.Entry-black {
    animation: fade-out;
    animation-duration: 7s;
}
@keyframes fade-out {
    0% {opacity: 1}
    50% {opacity: 0.5}
    100% {opacity: 0}
  }
   */