.Main-project-container {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust height as needed */
  overflow: hidden;
}

.Project-carousel-wrapper {
  margin: auto;
  width: 90vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.Project-carousel-container {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.Project-carousel-slide {
  position: absolute;
  top: 0;
  width: 180px; /* Adjust width as needed */
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.Project-carousel-image {
  width: 100%;
  height: auto;
  display: block;
}

.Project-carousel-content {
  font-size: x-large;
  text-align: center;
  padding: 10px;
}

.Project-carousel-control {
  cursor: pointer;
  font-size: 2rem;
  color: rgb(168 85 247);
  background: transparent;
  border: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.Project-carousel-control.prev {
  left: 10px;
}

.Project-carousel-control.next {
  right: 10px;
}
